<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link
                href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
                rel="stylesheet">
        <link rel="stylesheet" href="static/upload_style.css">
        <title>File Exchanger - бесплатный файлообменник</title>
    </head>
    <body>
        <header>
            <div class="logo-container">
                <img src="static/img/logo.png", alt="logo">
                <h4 class="logo">File Exchanger</h4>
            </div>
        </header>

        <main>
            <section class="main-section">
                <div class="about">

                    <div class="intro-text">
                        <h1>Send files easy and fast</h1>
                        <p>Choose how long you want your files to be available for download</p>
                    </div>

                    <label class="file hidden">
                        <input type="file" id="select-btn" multiple>
                        <span class="file-custom"></span>
                    </label>                     

                    <div class="expire-btn-box">
                        
                        <input type="radio" id="expire-0" name="expire" value="0" class="hidden" checked>
                        <label for="expire-0">12 hours</label>
                        <input type="radio" id="expire-1" name="expire" value="1" class="hidden">
                        <label for="expire-1">1 day</label>
                        <input type="radio" id="expire-2" name="expire" value="2" class="hidden">
                        <label for="expire-2">1 week</label>
                    </div>

                    <button id="filedrag" onclick="document.getElementById('select-btn').click()">
                        <b id="filedrag-text">Click to select files or drag them here</b>
                    </button>

                    <div class="download-progress">
                        <progress value="0" id="progress" style="display: none;"><p></p></progress>
                    </div>

                    <button class="cta-cancel" id="cancel-btn", style="display: none;">
                        Cancel upload
                    </button>
                    
                    <div class="download-box">
                        <button id="copy-btn" onclick="CopyToClipboard()" style="display: none;">
                            <img src="static/img/clipboard.png" alt="copy-btn" class="copy-img">
                        </button>
                        <a id="download-url"></a>
                    </div>
                </div>

                

            </section>


            <img class="circle-1" src="static/img/circle 1.png" alt="" />
            <img class="circle-2" src="static/img/circle 2.png" alt="" />
            <img class="circle-3" src="static/img/circle 3.png" alt="" />
        </main>
        <script src="static/upload.js"></script>
    </body>
</html>